<div class="main-banner">
  <img class="main-banner-img responsive-img" src="{{banner}}" alt="{{banner}}">

  {{!-- <div class="main-banner-data">
    <h1 class="main-banner-title">Nebulosa</h1>
    <p class="main-banner-subtitle">text</p>
    <p class="main-banner-description">text</p>
    <button class="btn btn-primary">Contáctanos</button>
  </div> --}}
</div> 