<footer>
  <div class="row">
    <div class="col">
      <img src="" alt="">
    </div>

    <div class="col">
      <h3>title</h3>
      <ul>
        <li></li>
      </ul>
    </div>

     <div class="col">
      <h3>title</h3>
      <ul>
        <li></li>
      </ul>
    </div>

     <div class="col">
      <h3>title</h3>
      <ul>
        <li></li>
      </ul>
        <button>Contáctar</button>
    </div>
  </div>

  <div class="row">
    <div class="col"><p>Diseñado y desarrollado por Nebulosa web - {{getAnio}}</p></div>
  </div>
    
</footer>