
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="./assets/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="./assets/css/style.css">

  <title>Nebulosa Web | diseño grafico y web de otro planeta</title>
</head>