 <!-- Full Page Intro -->
 <div class="view full-page-intro" style="background-image: url({{banner}}); background-repeat: no-repeat; background-size: cover;">

  <!-- Mask & flexbox options-->
  <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

    <!-- Content -->
    <div class="container">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4 white-text text-center text-md-left">

          <h1 class="display-4 font-weight-bold">Learn Bootstrap 4 with MDB</h1>

          <hr class="hr-light">

          <p>
            <strong>Best & free guide of responsive web design</strong>
          </p>

          <p class="mb-4 d-none d-md-block">
            <strong>
              The most comprehensive tutorial for the Bootstrap 4. Loved by over 500 000 users. Video and written versions
                available. Create your own, stunning website.
              </strong>
          </p>

          <a target="_blank" href="/servicios" class="btn main btn-lg">servicios
  
          </a>

        </div>
        

        <div class="col-md-6 col-xl-5 mb-4">

          <div class="card">

            <div class="card-body">

              <form name="">

                <h3 class="dark-grey-text text-center">
                  <strong>Escríbenos:</strong>
                </h3>
                <hr>

                <div class="md-form">
                  <i class="far fa-user prefix cyan-text"></i>
                  <input type="text" id="form3" class="form-control">
                  <label for="form3">Nombres</label>
                </div>
                  
                <div class="md-form">
                  <i class="far fa-envelope prefix cyan-text"></i>
                  <input type="text" id="form2" class="form-control">
                  <label for="form2">Correo</label>
                </div>

                <div class="md-form">
                  <i class="far fa-edit prefix cyan-text"></i>
                  <textarea type="text" id="form8" class="md-textarea"></textarea>
                  <label for="form8">Mensaje</label>
                </div>

                <div class="text-center">
                  <button class="btn main">Enviar <i class="far fa-paper-plane ml-2"></i></button>
                </div>

              </form>
            
            </div>

          </div>

        </div>
        
      </div>

    </div>

  </div>
    
</div>
  

