<header>
  <nav>
    <img src="" alt="">
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/nosotros">Nosotros</a></li>
      <li><a href="/servicios">Servicios</a></li>
      <li><a href="/contactanos">Contáctanos</a></li>
      <li><button><a href="/contactanos">Escribenos</a></button></li>
    </ul>
  </nav>

  <div class="banner">
    <img src="{{banner}}" alt="{{banner}}">
  </div>
</header>