 <!-- Full Page Intro -->
 <div class="view view-secundary full-page-intro" style="background-image: url({{banner}}); ">

  <!-- Mask & flexbox options-->
  <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

    <!-- Content -->
    <div class="container">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col white-text text-center ">

          <h1 class="display-4 font-weight-bold">{{banner_title}}</h1>

{{!-- 
          <p>
            <strong>Best & free guide of responsive web design</strong>
          </p>

          <p class="mb-4 d-none d-md-block">
            <strong>
              The most comprehensive tutorial for the Bootstrap 4. Loved by over 500 000 users. Video and written versions
                available. Create your own, stunning website.
              </strong>
          </p>

          <a target="_blank" href="/servicios" class="btn main btn-lg">servicios
            <i class="fab fa-servicestack ml-2"></i>
          </a> --}}

        </div>
        

        
      </div>

    </div>

  </div>
    
</div>