{
  "name": "Nebulosaweb",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [],
  "fileTree": {
    "expandedDirs": [],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "public/assets/sass/style.scss",
      "imports": [
        "public/assets/sass/theme/_color-variables.scss",
        "public/assets/sass/theme/_color-classes.scss",
        "public/assets/sass/theme/_variables.scss",
        "public/assets/sass/base/_normalize.scss",
        "public/assets/sass/layout/_grid.scss",
        "public/assets/sass/theme/_global.scss",
        "public/assets/sass/theme/_typography.scss",
        "public/assets/sass/modules/_badges.scss",
        "public/assets/sass/modules/_icons-material-design.scss",
        "public/assets/sass/modules/_navbar.scss",
        "public/assets/sass/modules/_transitions.scss",
        "public/assets/sass/modules/_cards.scss",
        "public/assets/sass/modules/_toast.scss",
        "public/assets/sass/modules/_tabs.scss",
        "public/assets/sass/modules/_tooltip.scss",
        "public/assets/sass/modules/_buttons.scss",
        "public/assets/sass/modules/_dropdown.scss",
        "public/assets/sass/modules/_waves.scss",
        "public/assets/sass/modules/_modal.scss",
        "public/assets/sass/modules/_collapsible.scss",
        "public/assets/sass/modules/_chips.scss",
        "public/assets/sass/modules/_materialbox.scss",
        "public/assets/sass/modules/forms/_forms.scss",
        "public/assets/sass/modules/_table_of_contents.scss",
        "public/assets/sass/modules/_sidenav.scss",
        "public/assets/sass/modules/_preloader.scss",
        "public/assets/sass/modules/_slider.scss",
        "public/assets/sass/modules/_carousel.scss",
        "public/assets/sass/modules/_tapTarget.scss",
        "public/assets/sass/modules/_pulse.scss",
        "public/assets/sass/modules/_datepicker.scss",
        "public/assets/sass/modules/_timepicker.scss",
        "public/assets/sass/modules/forms/_input-fields.scss",
        "public/assets/sass/modules/forms/_radio-buttons.scss",
        "public/assets/sass/modules/forms/_checkboxes.scss",
        "public/assets/sass/modules/forms/_switches.scss",
        "public/assets/sass/modules/forms/_select.scss",
        "public/assets/sass/modules/forms/_file-input.scss",
        "public/assets/sass/modules/forms/_range.scss"
      ]
    },
    {
      "path": "public/assets/sass/mdb.scss",
      "imports": [
        "public/assets/sass/core/bootstrap/_functions.scss",
        "public/assets/sass/core/bootstrap/_variables.scss",
        "public/assets/sass/core/_mixins.scss",
        "public/assets/sass/_custom-variables.scss",
        "public/assets/sass/core/_colors.scss",
        "public/assets/sass/core/_variables.scss",
        "public/assets/sass/core/_global.scss",
        "public/assets/sass/core/_helpers.scss",
        "public/assets/sass/core/_typography.scss",
        "public/assets/sass/core/_masks.scss",
        "public/assets/sass/core/_waves.scss",
        "public/assets/sass/free/_animations-basic.scss",
        "public/assets/sass/free/_animations-extended.scss",
        "public/assets/sass/free/_buttons.scss",
        "public/assets/sass/free/_cards.scss",
        "public/assets/sass/free/_dropdowns.scss",
        "public/assets/sass/free/_input-group.scss",
        "public/assets/sass/free/_navbars.scss",
        "public/assets/sass/free/_pagination.scss",
        "public/assets/sass/free/_badges.scss",
        "public/assets/sass/free/_modals.scss",
        "public/assets/sass/free/_carousels.scss",
        "public/assets/sass/free/_forms.scss",
        "public/assets/sass/free/_msc.scss",
        "public/assets/sass/free/_footers.scss",
        "public/assets/sass/free/_list-group.scss",
        "public/assets/sass/free/_tables.scss",
        "public/assets/sass/free/_switch.scss",
        "public/assets/sass/free/_depreciated.scss",
        "public/assets/sass/addons/_datatables.scss",
        "public/assets/sass/_custom-styles.scss"
      ]
    },
    {
      "path": "public/assets/scss/mdb.scss",
      "imports": [
        "public/assets/scss/core/bootstrap/_functions.scss",
        "public/assets/scss/core/bootstrap/_variables.scss",
        "public/assets/scss/core/_mixins.scss",
        "public/assets/scss/_custom-variables.scss",
        "public/assets/scss/core/_colors.scss",
        "public/assets/scss/core/_variables.scss",
        "public/assets/scss/core/_global.scss",
        "public/assets/scss/core/_helpers.scss",
        "public/assets/scss/core/_typography.scss",
        "public/assets/scss/core/_masks.scss",
        "public/assets/scss/core/_waves.scss",
        "public/assets/scss/free/_animations-basic.scss",
        "public/assets/scss/free/modules/animations-extended/_module.scss",
        "public/assets/scss/free/_buttons.scss",
        "public/assets/scss/free/_cards.scss",
        "public/assets/scss/free/_dropdowns.scss",
        "public/assets/scss/free/_input-group.scss",
        "public/assets/scss/free/_navbars.scss",
        "public/assets/scss/free/_pagination.scss",
        "public/assets/scss/free/_badges.scss",
        "public/assets/scss/free/_modals.scss",
        "public/assets/scss/free/_carousels.scss",
        "public/assets/scss/free/_forms.scss",
        "public/assets/scss/free/_msc.scss",
        "public/assets/scss/free/_footers.scss",
        "public/assets/scss/free/_list-group.scss",
        "public/assets/scss/free/_tables.scss",
        "public/assets/scss/free/_switch.scss",
        "public/assets/scss/free/_depreciated.scss",
        "public/assets/scss/free/_steppers.scss",
        "public/assets/scss/addons/_datatables.scss",
        "public/assets/scss/_custom-styles.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7881,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": true,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"],\"compiler-minify-css\":{\"enabled\":true}}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}