<!doctype html>
<html lang="es">

  {{>head}}

<body>

  {{>navbar}}

  <main>
    <div class="container">
      <section>
        <div class="row">
          <div class="col">
            <h1>Contáctanos</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda nobis saepe eos error non dolorem doloremque ipsa neque vero nemo quaerat, deleniti recusandae illum illo animi eius voluptate iure adipisci?</p>
          </div>
        </div>
      </section>

      <section>
        <div class="row">
          <div class="col">
            <form>
              <input type="text" placeholder="Nombres">
              <input type="email" placeholder="Correo electronico">
              <input type="text" placeholder="Asunto">
              <textarea name="" id="" cols="30" rows="10"></textarea>
            </form>
          </div>

          <div class="col">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos temporibus porro at, minima amet labore veniam cumque odio esse ea ipsa nostrum eos voluptas praesentium vitae deleniti provident velit exercitationem.</p>
            <ul>
              <li>
                <a href=""></a>
              </li>
               <li>
                <a href=""></a>
              </li>
               <li>
                <a href=""></a>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>
  </main>

  {{>footer}}

  {{>script}}
  
</body>

</html>