<!doctype html>
<html lang="es">

  {{>head}}

<body>

  {{>navbar}}
  {{>secundary_banner}}
  <main>
    <div class="container">
       <!-- Section: Contact v.3 -->
      <section class="contact-section ">

        <!-- Form with header -->
        <div class="card my-5 animated rotateInUpLeft slow">

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-lg-8">

              <div class="card-body form">

                <!-- Header -->
                <h3 class="mt-4 text-center"><i class="fa fa-envelope pr-2"></i>Escríbenos:</h3>

                <!-- Grid row -->
                <div class="row">

                  <!-- Grid column -->
                  <div class="col-md-6">
                    <div class="md-form mb-0">
                      <input type="text" id="form-contact-name" class="form-control">
                      <label for="form-contact-name" class="">Nombres</label>
                    </div>
                  </div>
                  <!-- Grid column -->

                  <!-- Grid column -->
                  <div class="col-md-6">
                    <div class="md-form mb-0">
                      <input type="text" id="form-contact-email" class="form-control">
                      <label for="form-contact-email" class="">Correo</label>
                    </div>
                  </div>
                  <!-- Grid column -->

                </div>
                <!-- Grid row -->

                <!-- Grid row -->
                <div class="row">

                  <!-- Grid column -->
                  <div class="col-md-6">
                    <div class="md-form mb-0">
                      <input type="text" id="form-contact-phone" class="form-control">
                      <label for="form-contact-phone" class="">Telefono</label>
                    </div>
                  </div>
                  <!-- Grid column -->

                  <!-- Grid column -->
                  <div class="col-md-6">
                    <div class="md-form mb-0">
                      <input type="text" id="form-contact-company" class="form-control">
                      <label for="form-contact-company" class="">Compañia</label>
                    </div>
                  </div>
                  <!-- Grid column -->

                </div>
                <!-- Grid row -->

                <!-- Grid row -->
                <div class="row">

                  <!-- Grid column -->
                  <div class="col-md-12">
                    <div class="md-form mb-0">
                      <textarea type="text" id="form-contact-message" class="form-control md-textarea" rows="3"></textarea>
                      <label for="form-contact-message">Mensaje</label>
                    </div>
                  </div>
                  <!-- Grid column -->

                </div>
                <!-- Grid row -->

                <div class="row">

                  <!-- Grid column -->
                  <div class="col-md-12 text-center">
                    <button class="btn main">Enviar <i class="far fa-paper-plane ml-2"></i></button>
                  </div>
                  <!-- Grid column -->

                </div>
                <!-- Grid row -->

              </div>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-4">

              <div class="card-body contact h-100 ">
                <h3 class="my-4 pb-2">Información de contacto</h3>

                <ul class="list-unstyled ml-4">
                  <li>
                    <i class="fab fa-whatsapp"></i> {{phone}}
                  </li>
                  <li>
                    <i class="far fa-envelope"></i> {{email}} 
                  </li>
                  <li>
                    <a href="{{fc}}" target="_blank"><i class="fab fa-facebook-f"></i> Facebook</a>
                  </li>
                  <li>
                    <a href="{{ins}}" target="_blank"><i class="fab fa-instagram"></i> Instagram</a>
                  </li>
                </ul>

              </div>

            </div>
        
          </div>
        
        </div>
      
      </section>
  
    </div>
  </main>

  {{>footer}}

  {{>script}}
  
</body>

</html>