<!doctype html>
<html lang="es">

  {{>head}}

<body>

  {{>navbar}}

  <main>
    <div class="container">
      <section id="">
        <div class="row">
          
          <div class="col">
            <img src="" alt="">
          </div>

          <div class="col">
            <h1>Nebulosa web</h1>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus ut aut nesciunt dicta vero alias? Impedit tempora voluptates itaque illo! Harum laboriosam recusandae dignissimos reprehenderit aspernatur eos est inventore nobis.
            </p>
          </div>
        </div>
      </section>

      <section>
        <div class="row">
          <div class="col">
            <h2>¿Por qué nosotros?</h2>
          </div>

          <div class="row">
            <div class="col">
              <img src="" alt="">
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus animi dicta doloremque accusantium quia obcaecati, culpa repudiandae cum blanditiis officia. Eaque, optio minima iusto atque in ad corrupti porro natus!</p>
            </div>

            <div class="col">
              <img src="" alt="">
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus animi dicta doloremque accusantium quia obcaecati, culpa repudiandae cum blanditiis officia. Eaque, optio minima iusto atque in ad corrupti porro natus!</p>
            </div>

            <div class="col">
              <img src="" alt="">
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus animi dicta doloremque accusantium quia obcaecati, culpa repudiandae cum blanditiis officia. Eaque, optio minima iusto atque in ad corrupti porro natus!</p>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="row">
          <div class="col">
            <h2>Servicios</h2>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="card">
              <img src="" alt="">
              <h3>Programación y diseño web</h3>
              <ul>
                <li>1</li>
              </ul>
              <button>Ver más</button>
            </div>
          </div>

          <div class="col">
            <div class="card">
              <img src="" alt="">
              <h3>Diseño grafico</h3>
              <ul>
                <li>1</li>
              </ul>
              <button>Ver más</button>
            </div>
          </div>

          <div class="col">
            <div class="card">
              <img src="" alt="">
              <h3>Diseño grafico</h3>
              <ul>
                <li>1</li>
              </ul>
              <button>Ver más</button>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="row">
          <div class="col">
            <h2>Contáctanos</h2>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <form>
              <input type="text" placeholder="Nombres">
              <input type="email" placeholder="Correo electronico">
              <input type="text" placeholder="Asunto">
              <textarea name="" id="" cols="30" rows="10"></textarea>
            </form>
          </div>

          <div class="col">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos temporibus porro at, minima amet labore veniam cumque odio esse ea ipsa nostrum eos voluptas praesentium vitae deleniti provident velit exercitationem.</p>
          </div>
         
        </div>
      </section>
    </div>

  </main>

  {{>footer}}

  {{>script}}
  
</body>

</html>