<!doctype html>
<html lang="es">

  {{>head}}

<body>

  {{>navbar}}

  <main>
    <a href="/nosotros">nosotros</a>
    <h1>Nebulosa Web</h1>
    <p>{{capitalize 'hola fdwdw'}}</p>
  </main>

  {{>footer}}

  {{>script}}
  
</body>

</html>