<!doctype html>
<html lang="es">

  {{>head}}

<body>

  {{>navbar}}
  {{>secundary_banner}}
  <main>
    <div class="container">

      <section class="my-5">

        <!--Grid row-->
        <div class="row">

          <!--Grid column-->
          <div class="col-md-6 mb-4 animated flipInX slow">

            <img src="./assets/img/spaces.jpg" class="img-fluid z-depth-1-half img-redondo " alt="">

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-6 mb-4">

            <!-- Main heading -->
            <h3 class="h3 mb-3">Nebulosa Web</h3>
            <p>This template is created with Material Design for Bootstrap (
              <strong>MDB</strong> ) framework.</p>
            <p>Read details below to learn more about MDB.</p>
            <!-- Main heading -->

            <hr>

            <p>
              <strong>400+</strong> material UI elements,
              <strong>600+</strong> material icons,
              <strong>74</strong> CSS animations, SASS files, templates, tutorials and many more.
              <strong>Free for personal and commercial use.</strong>
            </p>

            <!-- CTA -->
            <a target="_blank" href="/contactanos" class="btn main btn-md">contáctar
              <i class="fas fa-space-shuttle ml-2"></i>
            </a>

          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->

      </section>
      
      <hr class="my-5">
      
      <section>

        <h3 class="h3 text-center mb-5">Team</h3>

        <!--Grid row-->
        <div class="row ">

          <!--Grid column-->
          <div class="col-lg-4 col-md-4 col-xs-12">
            <!-- Card Regular -->
            <div class="card card-cascade my-3 animated fadeInLeft slow">

              <!-- Card image -->
              <div class="view view-cascade overlay z-depth-1-half">
                <img class="card-img-top " src="https://mdbootstrap.com/img/Photos/Others/men.jpg" alt="Card image cap">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>

              <!-- Card content -->
              <div class="card-body card-body-cascade text-center">

                <!-- Title -->
                <h4 class="card-title"><strong>Pablo Rincones</strong></h4>
                <!-- Subtitle -->
                <h6 class="font-weight-bold red-text py-2">Desarrollador web</h6>
                <!-- Text -->
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex, recusandae. Facere modi sunt, quod quibusdam.
                </p>

                <!-- Facebook -->
                <a href="#!" class="btn-circle btn-fb"><i class="fab fa-facebook-f"></i></a>
                <!-- Twitter -->
                <a href="#!"  class="btn-circle btn-ins"><i class="fab fa-instagram"></i></a>
                <!-- Google + -->
                <a href="#!" class="btn-circle btn-porta"><i class="fas fa-award"></i></a>
                <a href="#!" class="btn-circle purple darken-4  "><i class="far fa-address-card"></i></a>

              </div>

            </div>
            <!-- Card Regular -->
          </div>
          <!--/Grid column-->

          <!--Grid column-->
          <div class="col-lg-4 col-md-4 col-xs-12">
            <!-- Card Regular -->
            <div class="card card-cascade my-3 animated fadeInDown slow">

              <!-- Card image -->
              <div class="view view-cascade overlay z-depth-1-half">
                <img class="card-img-top " src="https://mdbootstrap.com/img/Photos/Others/men.jpg" alt="Card image cap">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>

              <!-- Card content -->
              <div class="card-body card-body-cascade text-center">

                <!-- Title -->
                <h4 class="card-title"><strong>Zuriel Torres</strong></h4>
                <!-- Subtitle -->
                <h6 class="font-weight-bold red-text py-2">Diseñador grafico</h6>
                <!-- Text -->
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex, recusandae. Facere modi sunt, quod quibusdam.
                </p>

                <!-- Facebook -->
                <a href="#!" class="btn-circle btn-fb"><i class="fab fa-facebook-f"></i></a>
                <!-- Twitter -->
                <a href="#!"  class="btn-circle btn-ins"><i class="fab fa-instagram"></i></a>
                <!-- Google + -->
                <a href="#!" class="btn-circle black"><i class="fab fa-behance"></i></a>
              </div>

            </div>
            <!-- Card Regular -->
          </div>
          <!--/Grid column-->

          <!--Grid column-->
          <div class="col-lg-4 col-md-4 col-xs-12">
            <!-- Card Regular -->
            <div class="card card-cascade my-3 animated fadeInRight slow">

              <!-- Card image -->
              <div class="view view-cascade overlay z-depth-1-half">
                <img class="card-img-top " src="https://mdbootstrap.com/img/Photos/Others/men.jpg" alt="Card image cap">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>

              <!-- Card content -->
              <div class="card-body card-body-cascade text-center">

                <!-- Title -->
                <h4 class="card-title"><strong>Adelvis Camacaro</strong></h4>
                <!-- Subtitle -->
                <h6 class="font-weight-bold red-text py-2">Community manager</h6>
                <!-- Text -->
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex, recusandae. Facere modi sunt, quod quibusdam.
                </p>

                <a href="#!" class="btn-circle btn-fb"><i class="fab fa-facebook-f"></i></a>
                <!-- Twitter -->
                <a href="#!"  class="btn-circle btn-ins"><i class="fab fa-instagram"></i></a>
      
              </div>

            </div>
            <!-- Card Regular -->
          </div>
          <!--/Grid column-->
        </div>
        <!--/Grid row-->
      </section>
      <!--Section: Main features & Quick Start-->

      <hr class="my-5">

      <section class="mb-5">
        <h2 class="h3 text-center mb-5">Habilidades y tecnologias</h2>

        <div class="row">
          <div class="col-xs-12 col-md-6 animated fadeInLeft slow">
            <div class="ht"> 
              <span><i class="fab fa-angular fa-2x red-text"></i> Angular</span>
              <span><i class="fab fa-node-js fa-2x green-text"></i> Nodejs</span>
              <span> <i class="fab fa-laravel fa-2x red-text"></i> Laravel</span>
              <span><i class="fab fa-wordpress fa-2x blue-text"></i> Wordpress</span>
              <span><i class="fas fa-fire fa-2x yellow-text"></i> Firebase</span>
              <span><i class="fas fa-leaf fa-2x green-text"></i> Mondodb</span>
              <span><i class="fas fa-database fa-2x blue-grey-text"></i> Mysql</span>
              <span><i class="fab fa-github fa-2x"></i> Github</span>
              <span><i class="fab fa-sass fa-2x pink-text"></i> Sass</span>
            </div>
          
          </div>

          <div class="col-xs-12 col-md-6 animated fadeInRight slow">
            <div>
              <div class="progress md-progress mb-4" style="height: 30px">
                <div class="progress-bar purple darken-4" role="progressbar" style="width: 90%; height: 30px" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"><span class="font-weight-bold">HTML</span></div>
              </div>
              <div class="progress md-progress mb-4" style="height: 30px">
                <div class="progress-bar purple darken-4" role="progressbar" style="width: 90%; height: 30px" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"><span class="font-weight-bold">CSS</span></div>
              </div>
              <div class="progress md-progress mb-4" style="height: 30px">
                <div class="progress-bar purple darken-4" role="progressbar" style="width: 85%; height: 30px" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"><span class="font-weight-bold">JAVASCRIPT</span></div>
              </div>
               <div class="progress md-progress mb-4" style="height: 30px">
                <div class="progress-bar  purple darken-4" role="progressbar" style="width: 85%; height: 30px" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"><span class="font-weight-bold">PHP</span></div>
              </div>
               <div class="progress md-progress mb-4" style="height: 30px">
                <div class="progress-bar  purple darken-4" role="progressbar" style="width: 95%; height: 30px" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"><span class="font-weight-bold">PHOTOSHOP</span></div>
              </div>
               <div class="progress md-progress mb-4" style="height: 30px">
                <div class="progress-bar purple darken-4" role="progressbar" style="width: 95%; height: 30px" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"><span class="font-weight-bold">ILLUSTRATOR</span></div>
              </div>
            </div>
          </div>
        </div>
        


      </section>

    </div>

  </main>

  {{>footer}}

  {{>script}}
  
</body>

</html>