<!doctype html>
<html lang="es">

  {{>head}}

<body>

  {{>navbar}}

  <main>
    <a href="/">Inicio</a>
    <h1>Nebulosa Web | nosotros</h1>
  </main>

  {{>footer}}

  {{>script}}
  
</body>

</html>