<!doctype html>
<html lang="es">

  {{>head}}

<body>

  {{>navbar}}
  {{>secundary_banner}}
  <main>
    <div class="container">
      <section id="web" class="my-5">
       <div class="row">
         <div class="col">
           <div class="card animated fadeInLeft slow">
            <div class="row">
              <div class="col-xs-12 col-lg-6"><img src="./assets/img/1.jpg" class="img-fluid img-redondo z-depth-2" alt=""></div>

              <div class="col-xs-12 col-lg-6">
                <div class="card-body">
                  <h2 class="card-title"><a>Desarrollo y diseño web</a></h2>
                  <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia aspernatur, eos eveniet 
                    tempore incidunt cupiditate obcaecati   
                  </p>

                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                  </ul>
                </div>
              </div>
            </div>
           </div>
         </div>
        </div>
      </section>


      <section id="diseno_grafico" class="my-5">
        <div class="row">
         <div class="col">
           <div class="card animated fadeInRight slow">
            <div class="row">
              <div class="col-xs-12 col-lg-6">
                <div class="card-body">
                  <h2 class="card-title"><a>Diseño grafico</a></h2>
                  <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia aspernatur, eos eveniet 
                    tempore incidunt cupiditate obcaecati   
                  </p>

                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{rs.hola.fc}}</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                  </ul>
                </div>
              </div>

              <div class="col-xs-12 col-lg-6"><img src="./assets/img/2.jpg" class="img-fluid img-redondo z-depth-2" alt=""></div>
            </div>
           </div>
         </div>
        </div>
      </section>

      <section id="redes_sociales" class="my-5">
        <div class="row">
          <div class="col">
            <div class="card animated fadeInLeft slow">
              <div class="row">
                <div class="col-xs-12 col-lg-6"><img src="./assets/img/1.jpg" class="img-fluid img-redondo z-depth-2" alt=""></div>

                <div class="col-xs-12 col-lg-6">  
                  <div class="card-body">
                    <h2 class="card-title"><a>Desarrollo y diseño web</a></h2>
                    <p>
                      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia aspernatur, eos eveniet 
                      tempore incidunt cupiditate obcaecati   
                    </p>

                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Cras justo odio</li>
                      <li class="list-group-item">Dapibus ac facilisis in</li>
                      <li class="list-group-item">Morbi leo risus</li>
                      <li class="list-group-item">Porta ac consectetur ac</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>

  {{>footer}}

  {{>script}}
  
</body>

</html>