<!doctype html>
<html lang="es">

  {{>head}}

<body>

  {{>navbar}}

  <main>
    <div class="container">
      <section>
        <div class="row">
          <div class="col">
            <h1>Servicios</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit perferendis iusto placeat corporis doloribus officiis adipisci neque nulla, accusantium vitae, deleniti et! Quis magnam repellat officiis harum labore. Temporibus, obcaecati!</p>
          </div>
        </div>
      </section>

      <section>
        <div class="row">
          <div class="col-xs-12 col-md-4">
             <img src="" alt="">
          </div>

           <div class="col-xs-12 col-md-8">
            <h2>Programación y diseño web</h2>
            <p></p>
            <ul>
              <li></li>
            </ul>
          </div>
        </div>
      </section>

      
      <section>
        <div class="row">

          <div class="col-xs-12 col-md-8">
            <h2>Diseño grafico</h2>
            <p></p>
            <ul>
              <li></li>
            </ul>
          </div>

          <div class="col-xs-12 col-md-4">
            <img src="" alt="">
          </div> 
        </div>
      </section>


      
      <section>
        <div class="row">
          <div class="col-xs-12 col-md-4">
             <img src="" alt="">
          </div>

           <div class="col-xs-12 col-md-8">
            <h2>Marketing y redes sociales</h2>
            <p></p>
            <ul>
              <li></li>
            </ul>
          </div>
        </div>
      </section>
    </div>
  </main>

  {{>footer}}

  {{>script}}
  
</body>

</html>